.lds-ellipsis
{

    display:
        inline-block;

    position:
        relative;

    width:
        64px;

    height:
        64px;

    position:
        absolute;

    top:
        50%;

    left:
        50%;

    margin-left:
        -15px;

    margin-top:
        -15px;

    color:
        #000;

    font-size:
        30px;

}

.lds-ellipsis
div {

    position:
        absolute;

    top:
        27px;

    width:
        11px;

    height:
        11px;

    border-radius:
        50%;

    background:
        #fff;

    animation-timing-function:
        cubic-bezier(0,
        1,
        1, 0);

}

.lds-ellipsis
div:nth-child(1)
{

    left:
        6px;

    animation: lds-ellipsis1
        0.6s infinite;

}

.lds-ellipsis
div:nth-child(2)
{

    left:
        6px;

    animation: lds-ellipsis2
        0.6s infinite;

}

.lds-ellipsis
div:nth-child(3)
{

    left:
        26px;

    animation: lds-ellipsis2
        0.6s infinite;

}

.lds-ellipsis
div:nth-child(4)
{

    left:
        45px;

    animation: lds-ellipsis3
        0.6s infinite;

}

@keyframes
lds-ellipsis1 {

    0% {

        transform:
            scale(0);

    }

    100% {

        transform:
            scale(1);

    }

}

@keyframes
lds-ellipsis3 {

    0% {

        transform:
            scale(1);

    }

    100% {

        transform:
            scale(0);

    }

}

@keyframes
lds-ellipsis2 {

    0% {

        transform:
            translate(0,
            0);

    }

    100% {

        transform:
            translate(19px,
            0);

    }

}
.error {
    color: #FF0000;
}
.system-user-name {
    word-break: break-all;
    white-space: normal;
}

/* MENU */

.nav-group-sub .nav-link {
    padding: 4px 0px 4px 20px;
}

.nav-sidebar .nav-item:not(.nav-item-header):first-child {
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-group-sub .nav-group-sub .nav-link {
    padding-left: 40px;
}

.nav-sidebar .nav-link {
    padding: 5px
}

.sidebar {
    width: 200px;
}

@media (min-width: 768px){
    .navbar-expand-md .navbar-brand {
        min-width: 9.650rem
    }
}
/* MENU */